.grid-container {
    display: grid;
    grid-template-columns: 100px 200px auto;
    grid-template-rows: 100px 100px auto;
}
.grid-item{
    border: 5px solid blue;
    padding: 20px;
    text-align: center;
}

.item1{
    /* margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: right; */
    grid-column: 1/span 2;
}
.item5{
    grid-column:1/span3 ;
}
.item2{
    grid-row:2 /span;
}